# Core
fastapi>=0.128.0
uvicorn[standard]
websockets>=14.0
python-dotenv

# DB + cache
sqlalchemy>=2.0.46
asyncpg
redis[hiredis]>=5.0.0

# AI
insightface>=0.7.3
onnxruntime-gpu
opencv-python
numpy<2.0.0

# Utils
requests
httpx
pydantic-settings
pgvector
pydantic
booktype
